@model IEnumerable<Leave_Management_System.web.Data.LeaveType>

@{
    ViewData["Title"] = "Index";
}

<h1>Types Of Leaves</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberOfDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.name)
            </td>
            <td>
                @Html.DisplayFor(model => item.numberOfDays)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
